:root {
    --color-white: #fff;
    --color-black: #000;
    --color-black-50: #808080;

    --color-navbar-text: #26344a;

    --color-button-hover: #1f2937;

    --color-sidebar-button-hover: #eee;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 36px;
    color: var(--color-navbar-text);
}
h2 {
    font-size: 32px;
    color: var(--color-navbar-text);
}
h3 {
    font-size: 24px;
    color: var(--color-navbar-text);
}
h4 {
    font-size: 20px;
    color: var(--color-navbar-text);
}
h5 {
    font-size: 16px;
    color: var(--color-navbar-text);
}
span {
    font-family: "Space Grotesk", sans-serif;
}
li, ol, ul {
    list-style: none;
}
input[type="color"] {
	border: none;
	width: 2rem;
	height: 2rem;
    padding: .5rem;
    border: 1px solid var(--color-black);
    margin-bottom: 1rem;
    border-radius: 9999px;
    background-color: var(--color-white);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    width: 2rem;
    border-radius: 9999px;
}