package layout

templ Sidebar() {
    <style>
        .sidebar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 3%;
        }
    </style>
    <div class="sidebar">
        <button>Профиль</button>
        <button>Списки</button>
        <button>Календарь</button>
    </div>
}