package components

import "strconv"

templ Option(value string, intValue int, isSelected bool) {
    {{ 
        intV := strconv.Itoa(intValue) 
    }}
    if isSelected {
        <option selected value={ intV }>{ value }</option>
    } else {
        <option value={ intV }>{ value }</option>
    }
}