package views

import "go/context-todo/views/widgets"
import "go/context-todo/internal/list"

templ Tasks(lists []list.List) {
    @TasksStyle()
    @widgets.TaskBlocks(lists)
    <div id="task-main-div" class="tasks">
        Tasks
    </div>
}

templ TasksStyle() {
    <style>
        .tasks {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            overflow-x: auto;
            overflow-y: auto;
        }
    </style>
}